* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Sedgwick Ave';
}

.container {
    width: 500%;
    /* height: 100vs;  */
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(Aset/background.png); */
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    cursor: pointer;
    margin: 0 0 0 0;
    transition-duration: 0.25s;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    transition-duration: 0.25s;
}

nav ul li a:hover {
    color: #ffbd66;
    font-size: 13.5px;
}

.row {
    display: flex;
    height: 50%;
    align-items: center;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 28px;
    text-align: left;
    color: #000000;
    margin: 50px 0 0 0;
}

h2 {
    color: #ffbd66;
    font-size: 85px;
    font-family: "Hey October";
    font-weight: normal;
    line-height: 120px;
    text-align: left;
}

button {
    font-family: 'Montserrat';
    font-weight: bold;
    width: 210px;
    height: 50px;
    color: #202c4f;
    font-size: 15px;
    border: 0;
    border-radius: 50px;
    outline: none;
    margin-top: 30px;
    transition-duration: 0.25s;
    margin-left: 1000px;
}

section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

form {
    width: 500px;
    margin: 30px 0px auto;
}

.search {
    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}

.button {
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #53bd84;
    background-color: #53bd84;
    color: #fafafa;
}

.button:hover {
    background-color: #fafafa;
    color: #207cca;
}