* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Sedgwick Ave';
}

.container {
    width: 500%;
    /* height: 100vs;  */
    /* background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(Aset/background.png); */
    background-position: center;
    background-size: cover;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    cursor: pointer;
    margin: 0 0 0 0;
    transition-duration: 0.25s;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #f6f4f2;
    font-size: 13px;
    transition-duration: 0.25s;
}

nav ul li a:hover {
    color: #ffbd66;
    font-size: 13.5px;
}

.row {
    display: flex;
    height: 50%;
    align-items: center;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 28px;
    text-align: left;
    color: #f6f4f2;
    margin: 50px 0 0 0;
}

h2 {
    color: #f6f4f2;
    font-size: 85px;
    font-family: "Hey October";
    font-weight: normal;
    line-height: 120px;
    text-align: left;
}

h3 {
    color: #f6f4f2;
    font-size: 85px;
    font-family: "Hey October";
    font-weight: normal;
    line-height: 120px;
    text-align: left;
    margin-top: -40px;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 23px;
    text-align: left;
    color: #f6f4f2;
    margin-top: -40px;
}

button {
    font-family: 'Montserrat';
    font-weight: bold;
    width: 210px;
    height: 50px;
    color: #202c4f;
    font-size: 24px;
    background: #ffbd66;
    border: 0;
    border-radius: 50px;
    outline: none;
    margin-top: 30px;
    transition-duration: 0.25s;
}

button:hover {
    transform: scale(1.1);
}

P {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    color: #f6f4f2;
    margin: 150px 0 0 0;
    transition-duration: 0.25s;
    padding-bottom: 3%;
}

p:hover {
    color: #a8a096;
    font-size: 12.5px;
}

.preview {
    display: flex;
    align-self: center;
    margin: -200px 300px;
}

.preview img {
    width: 200px;
    margin: 0 10px;
    inherits: 0.4;
    margin: auto;
}

.preview .gambar1 {
    display: block;
}

.preview .gambar2,
.preview .gambar3,
.preview .gambar4 {
    margin-left: 20px;
    display: block;
}

.gambar1,
.gambar2,
.gambar3,
.gambar4 {
    position: relative;
    width: 400px;
}

.image_title {
    font-size: 20px;
    font-weight: 500;
}

.gambar1_overlay,
.gambar2_overlay,
.gambar3_overlay,
.gambar4_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #f6f4f2;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 15px;
}

.gambar_gambar1,
.gambar_gambar2,
.gambar_gambar3,
.gambar_gambar4 {
    display: block;
    width: 100%;
}

.gambar1_overlay>*,
.gambar2_overlay>*,
.gambar3_overlay>*,
.gambar4_overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.gambar1_overlay:hover,
.gambar2_overlay:hover,
.gambar3_overlay:hover,
.gambar4_overlay:hover {
    opacity: 1;
}

.gambar1_overlay:hover>*,
.gambar2_overlay:hover>*,
.gambar3_overlay:hover>*,
.gambar4_overlay:hover>* {
    transform: translateY(0);
}